* {
  background-image: none;
  box-shadow: none;
  font-family: "Inter", "JetBrainsMono Nerd Font";
  font-size: 24px;
}

window {
  background: rgba(0, 0, 0, 0.3);
}

button {
  background-color: rgba(14, 14, 16, 0.85);
  background-position: center 35%;
  background-repeat: no-repeat;
  background-size: 72px 72px;
  border: 1px solid #1f1f24;
  border-radius: 8px;
  color: #e6e6e6;
  margin: 4px;
}

button:hover,
button:focus {
  background-color: #15151a;
  border-color: #89b4fa;
}

#lock {
  background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#reboot {
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}

#shutdown {
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}